@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
</head>

<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/Index">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Pur">Купленные фильмы</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="/Home/Enter">Войти в аккаунт</a>
            </li>*@
            <li>
                @if (CurrentUser.Online)
                {
                    <a>вы вошли как @CurrentUser.UserName</a>
                    <a class="nav-link" href="/Home/Exit">Выйти из аккаунта</a>
                }
                else
                { <a class="nav-link" href="/Home/Enter">Войти в аккаунт</a>}
            </li>
        </ul>
          
        <form asp-controller="Home" asp-action="Search" method="post">
            <p>
                Поиск Фильмов: <input type="text" name="SearchString" />
                <input type="submit" value="Поиск" href="/Home/Search?searchString=text" />
            </p>
        </form>
    </div>
</div>

