@model User



<body>
    <form asp-action="Enter" method="post">
        <br />
        <br />
        <label asp-for="Name">Имя:</label>
        <input asp-for="Name" /><br /><br />


        <label asp-for="Password">Пароль:</label>
        <input asp-for="Password" /><br /><br />


        <button type="submit">Войти</button><br /><br />


        <a href="/Home/Registration">Зарегистрироваться</a><br />

    </form>
</body>


