@model IEnumerable<User>

<body>
    <form asp-action="Enter" method="post">
        @*<р>
                <label asp-for="Name">Твой никнейм:</label>
                <input asp-for="Name" />
            </р>
            <р>
                <label asp-for="Email">Твоя почта:</label>
                <input asp-for="Email" />
            </р>*@
        <р>
            <button>Войти</button>
        </р>
    </form>
</body>
