@model IEnumerable<Film>


<p>Результаты поиска: @Model.Count()</p>
@foreach (var e in Model)
{
    <h2>@e.Name</h2>
    <img src=@e.Img width="200" height="200">
    <h4>@e.Description</h4>
    <a href="/Home/FilmToWatch?id=@e.FilmID">Смотреть фильм @e.Name</a>
}
